@page "/todo"

<h3>Do zrobienia (@listaZadan.Count(zadanie => !zadanie.Zrobione))</h3>

<input placeholder="Coś do zrobienia" @bind="noweZadanie">
<button @onclick="DodajZadanie">Dodaj zadanie</button>

<br />
<br />
<input @bind="ostatnieZadanie">
<br />
<br />

<ul>
    @foreach (var zadanie in listaZadan)
    {
        <li>
            <input type="checkbox" @bind="zadanie.Zrobione">
            <input @bind="zadanie.Tytul">
        </li>
    }
</ul>

@code {
    private IList<Zadanie> listaZadan = new List<Zadanie>();
    private string noweZadanie;
    private string ostatnieZadanie;

    private void DodajZadanie()
    {
        if (!string.IsNullOrWhiteSpace(noweZadanie))
        {
            ostatnieZadanie = noweZadanie;
            listaZadan.Add(new Zadanie { Tytul = noweZadanie });
            noweZadanie = string.Empty;
        }
    }
}
